@charset "UTF-8";
.table thead th, .table tbody td {
	vertical-align: middle;
}
pre {
	font-family: "Montserrat", sans-serif;
}

a {
  color: #111111;
  text-decoration: none;
  background-color: transparent;
}
.mb-1-4 {
	margin-bottom: 1.25rem !important;
}
.wrap {
	overflow: auto;
	white-space: nowrap;
	width: 100%;
	min-width: 1200px;
	position: relative;
}

.content {
	position: relative;
  	width: 100%;
  	padding-right: 15px;
  	padding-left: 15px;
  	margin: 0 auto;
}
.title > a:hover {
  color: #111111;
  text-decoration: underline;
}

/* blog__details */
.blog__details__comment {
  margin-bottom: 30px;
}
.blog__details__comment h5 {
  margin-bottom: 20px;
}
.blog__details__comment ul li {
  list-style: none;
  font-size: 12px;
  color: #888888;
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.blog__details__comment ul li:after {
  position: absolute;
  right: -14px;
  top: 0;
  content: "|";
}
.blog__details__comment ul li span {
  color: #111111;
}
.blog__details__comment ul li:last-child {
  margin-right: 0;
}
.blog__details__comment ul li:last-child:after {
  display: none;
}

.blog__details__btns {
	margin-bottom: 20px;
}

/* card */
.card {
	overflow: hidden;
}
.card-header {
	background: rgba(226, 108, 12, 0.4);
}

/* button */
.a-btn a {
  font-size: 14px;
  color: #444444;
  background: #f2f2f2;
  display: inline-block;
  padding: 7px 15px 5px;
  margin-right: 10px;
  vertical-align: middle; 
}
.a-btn a:last-child {
  margin-right: 0;
}
.a-btn a:hover {
	background: rgba(226, 108, 12, 0.2);
}
.footer {
	border-top: 1px solid #e8eff4;
	padding-top: 30px;
}
/* table */
.table{
	position: relative;
	overflow: hidden;
}
.table-primary,
.table-primary th {
	border-color: rgba(226, 108, 12, 0.13);
	background: rgba(226, 108, 12, 0.13);
	border: none;
	border-bottom: none;
}

/* form */
.form-control {
	border-radius: 0px;
	margin-bottom: 15px;
	padding: 1em;
}
.form-control:focus {
  border-color: #000000;
  outline: 0;
  box-shadow: 0 0 0 0;
}
form .primary-btn {
  padding: 12px 25px;
  border: none;
  margin: auto;
  display: block;
}

/* search form */
.searchForm {
	width: 870px;
	text-align:center;
	overflow: hidden;
}
.searchForm form input{
	float:left;
	width:250px;
	height:32px;
	padding:0 0 0 10px;
	margin: 0 0 0 380px;
	outline:0 none;
	border: none;
}
.searchForm .searchBtn {
    float: left;
    width: 70px;
    background: #f08632;
    height: 31.99px;
    line-height: 15px;
    color: #000000;
    font-size: 13px;
    border-radius: 0px;
    border: none;
}
.searchForm form select {
	float: right;
	border-radius: 0px;
	border: none;
	line-height: 15px;
	width: 60px;
	height: 31.99px;
	padding-left: 10px;
	padding-right: 10px;
}
.searchForm form input::-webkit-input-placeholder {
  color: #888888;
}
.searchForm form input::-moz-placeholder {
  color: #888888;
}
.searchForm form input:-ms-input-placeholder {
  color: #888888;
}
.searchForm form input::-ms-input-placeholder {
  color: #888888;
}
.searchForm form input::placeholder {
  color: #888888;
  font-size: 15px;
}

/* checkout input */
.checkout__input input[type=radio] {
	width: 8%;
	height: 15px;
}
.checkout__input label {
	width: 92%;
	height: 15px;
	line-height: 15px;
	text-align: justify;
}
.checkout__input span {
	text-justify: inter-word;
	height: 15px;
	margin-right: 10%;
}
.checkout__input input[type=number] {
	height: 50px;
	text-align: right;
	width: 50%;
}

/* 페이징 */
.shop__pagination > .active{
	background: #000000;
 	color: #ffffff;
}

/* 반응형 */
@media only screen and (min-width: 1200px) {
  .content {
    max-width: 1170px;
  }
}
@media (max-width: 1200px) {
	.checkout__input input[type=number] {
		width: 90%;
	}
}